apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql
          envFrom:
            - configMapRef:
                name: todo-config
            - secretRef:
                name: todo-secret
          ports:
            - containerPort: 3306
          volumeMounts:
            - name: mysql-storage
              mountPath: /var/lib/mysql
      volumes:
        - name: mysql-storage
          persistentVolumeClaim:
            claimName: mysql-pvc

  # service for mysql
---
apiVersion: v1
kind: Service
metadata:
  name: todo-mysql
spec:
  selector:
    app: mysql
  ports:
    - port: 3306
      targetPort: 3306
