apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-list-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo-list
  template:
    metadata:
      labels:
        app: todo-list
    spec:
      containers:
      - name: todo-list-app
        image: morehub/todo-list-app:V2
        envFrom: 
         - configMapRef:
             name: todo-config
         - secretRef:
             name: todo-secret
        ports:
          - containerPort: 3000

# service for todo-list-app
---
apiVersion: v1
kind: Service
metadata: 
 name: todo-list-service
spec:
  selector:
    app: todo-list
  ports:
   - protocol: TCP
     port: 3000
     targetPort: 3000
  type: NodePort 
